.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    height: 2.5rem;
    @apply leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    &.current {
        z-index: 10;
        @apply text-blue_primary_700 border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
    }
}
