.sidebar__wrapper {
    width: auto;
    background: white;

    &.hide {
        pointer-events: none;
    }

    &.hide .sidebar__container {
        max-width: 0;
        @apply opacity-0 invisible pointer-events-none;
    }

    &.hide .sidebar__toggle__btn {
        right: unset;
        pointer-events: auto;
        @apply left-6 -translate-x-1/2;
    }
    &.hide + .content__wrapper {
        padding-left: 0;
    }
}

.sidebar__toggle__btn {
    position: absolute;
    z-index: 20;
    top: 2rem;
    right: 0;
    transform: translateX(50%) rotate(180deg);
    @apply block lg:hidden p-2 bg-white hover:bg-slate-200 border border-gray-300 rounded-md text-neutral-700 shadow-md transition-all;
}

.sidebar__container {
    position: sticky;
    z-index: 2;
    top: 0.5rem;
    min-height: 800px;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    @apply h-full opacity-100 visible shadow-lg transition-all;
}

.content__wrapper {
    @apply flex-1 mx-6 pl-0 transition-all;
}


@media screen and (max-width: 976px) {
    .sidebar__container{
        position: absolute;
    }
}