.question__list__wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    overflow-y: auto;
    margin-bottom: 1.5rem;
    @apply text-neutral-900 max-h-96;
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgb(222, 222, 222);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(151, 151, 151);
        border-radius: 12px;
    }
}

.question__list__item {
    min-height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.75rem 0.75rem 0;
    @apply border-b border-gray-200 last:border-b-0;
}
