.wrapper {
    max-height: calc(100vh - 80px);
    @apply bg-slate-100 h-screen w-screen flex justify-center py-10;
}

.button_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.audio_controls,
.video_controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio_player,
.video_player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio_player,
.video_player,
.recorded_player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.live_player {
    width: 300px;
    height: 200px;
    object-fit: cover;
    background-color: black;
    @apply rounded;
}
.recorded_player video {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.chat_container {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
}

.content_container {
    margin-left: 1rem;
    @apply flex-1;
}

.message_card {
    padding: 1.5rem;
    margin-bottom: 1rem;
    @apply bg-slate-100 rounded-lg w-1/2;
    &_title {
        margin-bottom: 1rem;
    }

    &_badge {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 99999px;
        margin-left: 0.25rem;
        @apply bg-gray-200 font-semibold;
        strong {
            font-weight: 500;
            text-transform: uppercase;
            @apply text-neutral-700 font-semibold text-xs;
        }
    }
}

.takes_wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.takes_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75%;
    position: relative;
    @apply rounded-md border border-dashed border-gray-300;
}

.takes_badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-gray-200 rounded-md font-semibold;
    strong {
        font-weight: 500;
        text-transform: uppercase;
        @apply text-neutral-700 font-semibold text-xs;
    }
}
