.wrapper {
    max-height: calc(100vh - 80px);
    @apply bg-slate-100 h-screen w-screen flex justify-center py-10;
}

.content_container {
    @apply flex-1;
}

.message_card {
    padding: 1.5rem;
    margin-bottom: 1rem;
    @apply bg-slate-100 rounded-lg w-1/2;
    &_title {
        margin-bottom: 1rem;
    }

    &_badge {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 99999px;
        margin-left: 0.25rem;
        @apply bg-gray-200 font-semibold;
        strong {
            font-weight: 500;
            text-transform: uppercase;
            @apply text-neutral-700 font-semibold text-xs;
        }
    }
}

.takes_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.takes_placeholder {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75%;
    position: relative;
    @apply rounded-md border border-dashed border-gray-300;
}

.takes_badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-gray-200 rounded-md font-semibold;
    strong {
        font-weight: 500;
        text-transform: uppercase;
        @apply text-neutral-700 font-semibold text-xs;
    }
}

.banner {
    position: relative;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("../../../../../../../../../public/images/interviewee_auth_bg.png");
        // background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: auto;
        opacity: 0.3;
    }
}
