.field__item__card {
    background-color: white;
    position: relative;
    @apply border-b  border-gray-300 last:border-none;
}
.field__item__card__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @apply text-neutral-600 text-sm p-4 py-6;
}
