.section__wrapper {
}

.section__title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    @apply text-neutral-700 text-sm font-bold;
}

.section__content__wrapper {
    background-color: white;
    border-radius: 0.375rem;
    @apply shadow-md border border-gray-200;
}

.content__h4 {
    @apply text-sm font-semibold text-neutral-700;
}

.content__subheading {
    @apply text-sm text-neutral-500;
}
