.wrapper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: url('../../../../../public/images/interviewee_auth_bg.png');
    // background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
  }
}

.title__gradient {
  background: linear-gradient(
    79deg,
    #1f94ff 0%,
    #4759ff 33.33%,
    #8c6fff 59.17%,
    #c163fa 100%,
    #e025ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 600;
}
