@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    @apply text-neutral-900;
}

.ql-active {
    @apply bg-slate-200 text-blue_primary_800;
}

.ql-editor {
    font-family: inherit;
    padding: 12px 16px;
    .complex {
        padding: 0.15rem 0.5rem;
        @apply bg-blue_primary_100 text-blue_primary_800 font-medium rounded-full;
    }
    p {
        &:first-of-type {
            margin-top: 0;
        }
        margin-top: 8px;
    }

    ol,
    ul {
        padding-left: 0.5rem;
    }
}

.ql-editor.ql-blank::before {
    left: 16px;
}

strong {
    font-weight: 600;
}

.complex {
    padding: 0.15rem 0.5rem;
    @apply bg-blue_primary_100 text-blue_primary_800 font-medium rounded-full;
}

.editor_content {
    font-family: inherit;
    @apply text-sm text-neutral-700;
    p {
        &:first-of-type {
            margin-top: 0;
        }
        margin-top: 8px;
    }
}
