@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ql-active {
    @apply bg-slate-200 text-blue_primary_800;
}

.ql-editor {
    font-family: "Poppins", "Montserrat", "Roboto_Mono", "Inter";
}

.ql-blank::before {
}
