.set__list__wrapper {
    max-height: 540px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgb(222, 222, 222);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(151, 151, 151);
        border-radius: 12px;
    }
}
