.popover__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    z-index: 10;
    display: inline-block;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transform: scale(0.95);
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 200ms;

    @apply text-sm text-gray-500 border border-gray-200 rounded-lg drop-shadow-lg dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800;

    &.entering {
        opacity: 100;
        visibility: visible;
        transform: scale(1);
        transition-timing-function: ease-out;
    }
}
