@import "/src/utils/colors/baseColor";

.quill__wrapper {
    display: flex;
    flex-direction: column;

    &.full__screen {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: white;
    }

    &.snow {
        .toolbar__container {
            height: 42px;
            visibility: visible;
        }
    }

    &.bubble {
        .toolbar__container {
            height: 0;
            visibility: hidden;
        }
    }
}

.editor__container {
    cursor: pointer;
    flex-grow: 1;
    position: relative;
    font-size: 14px;
    margin: 0px -16px;
    &.snow {
        margin: 0px 0px;
        @apply border border-gray-300 border-t-0;
    }

    & .ql-editor.ql-blank::before {
        font-size: 32px;
    }

    a {
        color: $blue-primary-700;
        text-decoration: underline;
    }
}
.toolbar__container {
    padding: 0 !important;
    position: relative;
    @apply w-full border border-gray-300 rounded-sm transition-all duration-300;
}

.toolbar__item {
    &:last-of-type {
        height: fit-content;
        width: fit-content;
        position: absolute;
        right: 0;
        border-right-width: 0;
        border-left-width: 1px;
        @apply aspect-square absolute right-0 flex items-center justify-center hover:bg-slate-200 cursor-pointer;
    }
    @apply border-r border-gray-300 hover:bg-slate-200 cursor-pointer;
}

.ql__active {
    @apply bg-slate-200 text-blue_primary_800;
}

.ql-active {
    background-color: black;
}

.ql__formats {
    opacity: 1;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply text-neutral-600;
}

.editor__container .ql-active {
    background-color: black;
}

.vars__selection__wrapper {
    max-width: 220px;
    max-height: 200px;
    @apply absolute top-full left-0 right-0 z-[1000] flex flex-col -mt-1 bg-white border border-t-0 border-gray-300 rounded-bl-md rounded-br-md h-0 overflow-hidden invisible;

    &.showTop {
        top: auto;
        bottom: 100%;
        border-top-width: 1px;
        border-bottom: 0;
        margin-top: 0;
        margin-bottom: -0.25rem;
        border-radius: 0.375rem 0.375rem 0 0;
        flex-direction: column-reverse;
        height: auto;
        visibility: visible;
    }

    &.show {
        height: auto;
        visibility: visible;
    }

    & > li > button {
        text-align: left;
        width: 100%;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    }

    & > li:hover {
        @apply bg-orange-200 bg-opacity-60;
    }
}
