.sidebar__toggle__btn {
    @apply absolute top-32 left-[440px] -translate-x-1/2 z-[2000] p-2 bg-white shadow-md text-neutral-700 border border-gray-300 rounded-md hover:bg-slate-200 transition-all;
    &.hide__sidebar {
        right: unset;
        @apply left-6;
    }
}

.sidebar__wrapper {
    width: 440px;
    background-color: white;
    @apply h-full shadow-lg overflow-hidden lg:relative lg:shadow-md lg:rounded-md;
}

.sidebar__tab {
    @apply flex-1 relative text-center cursor-pointer text-sm text-neutral-500 font-semibold uppercase;
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 0px;
        height: 2px;
        transform-origin: right;
        @apply bg-neutral-800 transition-all;
    }

    &:first-of-type {
        &::after {
            right: 0;
        }
    }
    &:nth-of-type(2) {
        &::after {
            left: 0;
        }
    }

    &.active {
        @apply text-neutral-700;
        &::after {
            width: 100%;
        }
    }
}
